@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * { @apply border-slate-200; }
  html { scroll-behavior: smooth; }
  body { @apply bg-white text-slate-950 antialiased; }
  ::selection { @apply bg-brand-100 text-brand-900; }
}

@layer utilities {
  .text-balance { text-wrap: balance; }
  .grid-fade { background-image: linear-gradient(to right, rgba(148,163,184,.10) 1px, transparent 1px), linear-gradient(to bottom, rgba(148,163,184,.10) 1px, transparent 1px); background-size: 42px 42px; mask-image: linear-gradient(to bottom, black, transparent); }
}
